/* RANCHI MALL's CSS FRAMEWORK FOR RESPONSIVE WEB ELEMENTS */

/* CONTAINER & WRAPING ELEMENTS */
*{
      margin:0px;
      padding:0px;
}

.box {
    margin: 0 auto;
    position: relative;
}


.block{

 float:left;
}

/* BLOCK STANDS FOR 12 COLUMN BLOCK */

.block.is-1{
      width: 8.33333%;
}
.block.is-2{

      width: 16.66667%;
}
.block.is-3{

         width: 25%;
}
.block.is-4{

        width: 33.33333%;
}
.block.is-5{

       width: 41.66667%;
}
.block.is-6{

        width: 50%;
}
.block.is-7{

    width: 58.33333%;
}
.block.is-8{

      width: 66.66667%;
}
.block.is-9{

   width: 75%;
}
.block.is-10{

       width: 83.33333%;
}
.block.is-11{

     width: 91.66667%;
}
.block.is-12{

      width: 100%;
}


/* BLOCK IN MOBILE */

@media screen and (max-width: 768px) {



.block[class^='is-'] {
      width: 100%; 
  }


}