/* LITTI CSS */

/* GRID */

/* ELEMENTS */

.btn{
    width:12px;
}

/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */


/*
// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

// PADDING ALL
*/

.p-1{
    padding:10px !important;
}
.p-2{
    padding:20px !important;
}
.p-3{
    padding:30px !important;
}
.p-4{
    padding:40px !important;
}
.p-5{
    padding:50px !important;
}
.p-6{
    padding:60px !important;
}
.p-7{
    padding:70px !important;
}
.p-8{
    padding:80px !important;
}
.p-9{
    padding:90px !important;
}
.p-10{
    padding:100px !important;
}

// PADDING TOP

.pt-1{
    padding-top:10px !important;
}
.pt-2{
    padding-top:20px !important;
}
.pt-3{
    padding-top:30px !important;
}
.pt-4{
    padding-top:40px !important;
}
.pt-5{
    padding-top:50px !important;
}
.pt-6{
    padding-top:60px !important;
}
.pt-7{
    padding-top:70px !important;
}
.pt-8{
    padding-top:80px !important;
}
.pt-9{
    padding-top:90px !important;
}
.pt-10{
    padding-top:100px !important;
}

/*// PADDIGN BOTTOM */


.pb-1{
    padding-bottom:10px !important;
}
.pb-2{
    padding-bottom:20px !important;
}
.pb-3{
    padding-bottom:30px !important;
}
.pb-4{
    padding-bottom:40px !important;
}
.pb-5{
    padding-bottom:50px !important;
}
.pb-6{
    padding-bottom:60px !important;
}
.pb-7{
    padding-bottom:70px !important;
}
.pb-8{
    padding-bottom:80px !important;
}
.pb-9{
    padding-bottom:90px !important;
}
.pb-10{
    padding-bottom:100px !important;
}


/*// MARGIN TOP */
.mt-1{
    margin-top:10px !important;
}
.mt-2{
    margin-top:20px !important;
}
.mt-3{
    margin-top:30px !important;
}
.mt-4{
    margin-top:40px !important;
}
.mt-5{
    margin-top:50px !important;
}
.mt-6{
    margin-top:60px !important;
}
.mt-7{
    margin-top:70px !important;
}
.mt-8{
    margin-top:80px !important;
}
.mt-9{
    margin-top:90px !important;
}
.mt-10{
    margin-top:100px !important;
}

// MARGIN ALL 

.m-1{
    margin:10px !important;
}
.m-2{
    margin:20px !important;
}
.m-3{
    margin:30px !important;
}
.m-4{
    margin:40px !important;
}
.m-5{
    margin:50px !important;
}
.m-6{
    margin:60px !important;
}
.m-7{
    margin:70px !important;
}
.m-8{
    margin:80px !important;
}
.m-9{
    margin:90px !important;
}
.m-10{
    margin:100px !important;
}


/*// MARGIN BOTTOM*/
.mb-1{
    margin-bottom:10px !important;
}
.mb-2{
    margin-bottom:20px !important;
}
.mb-3{
    margin-bottom:30px !important;
}
.mb-4{
    margin-bottom:40px !important;
}
.mb-5{
    margin-bottom:50px !important;
}
.mb-6{
    margin-bottom:60px !important;
}
.mb-7{
    margin-bottom:70px !important;
}
.mb-8{
    margin-bottom:80px !important;
}
.mb-9{
    margin-bottom:90px !important;
}
.mb-10{
    margin-bottom:100px !important;
}


/* THIS IS CROPPA SHIT */

.sk-fading-circle{position:absolute}.sk-fading-circle .sk-circle{width:100%;height:100%;position:absolute;left:0;top:0}.sk-fading-circle .sk-circle .sk-circle-indicator{display:block;margin:0 auto;width:15%;height:15%;border-radius:100%;-webkit-animation:sk-circleFadeDelay 1s infinite ease-in-out both;animation:sk-circleFadeDelay 1s infinite ease-in-out both}.sk-fading-circle .sk-circle2{-webkit-transform:rotate(30deg);transform:rotate(30deg)}.sk-fading-circle .sk-circle3{-webkit-transform:rotate(60deg);transform:rotate(60deg)}.sk-fading-circle .sk-circle4{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.sk-fading-circle .sk-circle5{-webkit-transform:rotate(120deg);transform:rotate(120deg)}.sk-fading-circle .sk-circle6{-webkit-transform:rotate(150deg);transform:rotate(150deg)}.sk-fading-circle .sk-circle7{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.sk-fading-circle .sk-circle8{-webkit-transform:rotate(210deg);transform:rotate(210deg)}.sk-fading-circle .sk-circle9{-webkit-transform:rotate(240deg);transform:rotate(240deg)}.sk-fading-circle .sk-circle10{-webkit-transform:rotate(270deg);transform:rotate(270deg)}.sk-fading-circle .sk-circle11{-webkit-transform:rotate(300deg);transform:rotate(300deg)}.sk-fading-circle .sk-circle12{-webkit-transform:rotate(330deg);transform:rotate(330deg)}.sk-fading-circle .sk-circle2 .sk-circle-indicator{-webkit-animation-delay:-.91667s;animation-delay:-.91667s}.sk-fading-circle .sk-circle3 .sk-circle-indicator{-webkit-animation-delay:-.83333s;animation-delay:-.83333s}.sk-fading-circle .sk-circle4 .sk-circle-indicator{-webkit-animation-delay:-.75s;animation-delay:-.75s}.sk-fading-circle .sk-circle5 .sk-circle-indicator{-webkit-animation-delay:-.66667s;animation-delay:-.66667s}.sk-fading-circle .sk-circle6 .sk-circle-indicator{-webkit-animation-delay:-.58333s;animation-delay:-.58333s}.sk-fading-circle .sk-circle7 .sk-circle-indicator{-webkit-animation-delay:-.5s;animation-delay:-.5s}.sk-fading-circle .sk-circle8 .sk-circle-indicator{-webkit-animation-delay:-.41667s;animation-delay:-.41667s}.sk-fading-circle .sk-circle9 .sk-circle-indicator{-webkit-animation-delay:-.33333s;animation-delay:-.33333s}.sk-fading-circle .sk-circle10 .sk-circle-indicator{-webkit-animation-delay:-.25s;animation-delay:-.25s}.sk-fading-circle .sk-circle11 .sk-circle-indicator{-webkit-animation-delay:-.16667s;animation-delay:-.16667s}.sk-fading-circle .sk-circle12 .sk-circle-indicator{-webkit-animation-delay:-83.33ms;animation-delay:-83.33ms}@-webkit-keyframes sk-circleFadeDelay{0%,100%,39%{opacity:0}40%{opacity:1}}@keyframes sk-circleFadeDelay{0%,100%,39%{opacity:0}40%{opacity:1}}.croppa-container{display:inline-block;cursor:pointer;-webkit-transition:all .3s;transition:all .3s;position:relative;font-size:0;-ms-flex-item-align:start;align-self:flex-start;background-color:#e6e6e6}.croppa-container canvas{-webkit-transition:all .3s;transition:all .3s}.croppa-container:hover{opacity:.7}.croppa-container.croppa--dropzone{-webkit-box-shadow:inset 0 0 10px #333;box-shadow:inset 0 0 10px #333}.croppa-container.croppa--dropzone canvas{opacity:.5}.croppa-container.croppa--disabled-cc{cursor:default}.croppa-container.croppa--disabled-cc:hover{opacity:1}.croppa-container.croppa--has-target{cursor:move}.croppa-container.croppa--has-target:hover{opacity:1}.croppa-container.croppa--has-target.croppa--disabled-mz{cursor:default}.croppa-container.croppa--disabled{cursor:not-allowed}.croppa-container.croppa--disabled:hover{opacity:1}.croppa-container.croppa--passive{cursor:default}.croppa-container.croppa--passive:hover{opacity:1}.croppa-container svg.icon-remove{position:absolute;background:#fff;border-radius:50%;-webkit-filter:drop-shadow(-2px 2px 2px rgba(0,0,0,.7));filter:drop-shadow(-2px 2px 2px rgba(0,0,0,.7));z-index:10;cursor:pointer;border:2px solid #fff}



/* THIS IS SLIDER THING */
input[type=range].ji {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.65px 0;
  }
  input[type=range].ji:focus {
    outline: none;
  }
  input[type=range].ji::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(20, 94, 171, 0.07);
    border-radius: 25px;
    border: 0px solid #010101;
  }
  input[type=range].ji::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(2, 107, 255, 0.77);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #026bff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.65px;
  }
  input[type=range].ji:focus::-webkit-slider-runnable-track {
    background: rgba(61, 145, 232, 0.07);
  }
  input[type=range].ji::-moz-range-track {
    width: 100%;
    height: 16.7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(20, 94, 171, 0.07);
    border-radius: 25px;
    border: 0px solid #010101;
  }
  input[type=range].ji::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(2, 107, 255, 0.77);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #026bff;
    cursor: pointer;
  }
  input[type=range].ji::-ms-track {
    width: 100%;
    height: 16.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].ji::-ms-fill-lower {
    background: rgba(9, 44, 80, 0.07);
    border: 0px solid #010101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].ji::-ms-fill-upper {
    background: rgba(20, 94, 171, 0.07);
    border: 0px solid #010101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].ji::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(2, 107, 255, 0.77);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #026bff;
    cursor: pointer;
    height: 16.7px;
  }
  input[type=range].ji:focus::-ms-fill-lower {
    background: rgba(20, 94, 171, 0.07);
  }
  input[type=range].ji:focus::-ms-fill-upper {
    background: rgba(61, 145, 232, 0.07);
  }
  